{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %}{{ name }} Member bios{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="{{ image }}" class ="img-fluid">
        <p class="byline">Name will go here</p>  
      </div>
      <div class="col-sm-8">
        {{ description }}
      </div>
    </div>
  </article>
{% endblock %}