{% extends '_templates/base.njk' %}


{% block page_title %} Home{% endblock %}

{% block content %}
{% include "_includes/jumbotron.njk" %}
<article class="container">
  <div class="row">
    <div class="col-md-5">
      <img src="img/queen-group.png" class="main-band img-fluid">
    </div>
    <div class="col-sm-7">this is going to be band bio</div>
  </div>
  <div class="row">
    {% for member in queen.members %}
    <div class="members col-md">
      <a href="members/{{ member.slug }}.html" target="_self" class="img-overlay"><img src="img/members/{{ member.imagebw }}" class="img-fluid">
      <div class="overlay">
        <div class="text">
          {{ member.name }}
        </div>
      </div>
      </a>
    </div>
    {% endfor %}
</div>
  <h2>Discography</h2>
  <div class="row">
    <div class="col-sm">
      <button class="btn btn-default">
        <a href="{{ relative_path }}music.html"><img src="img/discs/Queen_Queen.png"></a>
      </button>
    </div>
    <div class="col-sm">
      <button class="btn btn-default">
        <a href="{{ relative_path }}music.html"><img src="img/discs/Queen_A_Night_At_The_Opera.png"> </a>
      </button>
    </div>
    <div class="col-sm">
      <button class="btn btn-default">
        <a href="{{ relative_path }}music.html"><img src="img/discs/Queen_Sheer_Heart_Attack.png"></a>
      </button>
    </div>
    <a href="{{ relative_path }}tour.html">
    <!-- will use css to not make this look ugly and blue -->
      <h2>Tour</h2>
    </a>
  </div>

</article>
{% endblock %}