{% extends '_templates/base.njk' %}

{% block page_title %}Music{% endblock %}


{% block page_description %}A page that shows Queen's discography{% endblock %}

{% block content %}
<article class="container">
    <!-- i'm going to add the overlay effect to the albums too, unless it's too much. i'll also be adding spotify links to each of these -->
    <div class="row">
      <div class="text">
        <h2 class="bios" style="text-align:left">Albums</h2>
      </div>
      {%for album in queen.discography%}
      <div class="album col-md-4" style="max-width: 30%">
        <div class="album col-md-4">
          <a href="{{ album.url }}.html" class="img-overlay" target="_blank">
            <img src="img/discs/{{ album.image }}" class="img-fluid album">
              <div class="overlay">
                <div class="overlay-text">{{ album.title }}
                  <p>{{ album.year }}</p>
                </div>
              </div>
          </a>
        </div>
      </div>
 
    {% endfor %}
    
    </div>
</article>


{% endblock %}

