{% extends '_templates/base.njk' %}


{% block page_title %}Tour{% endblock %}

{% block content %}

<!-- need to fix the width of the table -->
<div id="jumbo" style="padding-bottom: 30px">
  <div class="row">
    <img class="img-fluid" src="img/queen-group-copy.png" >
  </div>
</div>
<article class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <table class="table">
        <tbody>
          <tr>
            <th colspan="4"><h3>The Rhapsody Tour - Europe 2022</h3></th>
          </tr>
          {%for tours in queen.tour%}
          <tr>
            <td width="30%">{{ tours.date}}</td>
            <td width="30%">{{ tours.city }}</td>
            <td width="30%">{{ tours.venue }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</article>


{% endblock %}