{% extends '_templates/base.njk' %}


{% block page_title %}Tour{% endblock %}

{% block content %}
{% include "_includes/jumbotron.njk" %}
<!-- need to fix the width of the table -->
<article class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-8">
      <table class="table">
        <thead class="thead">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">City</th>
            <th scope="col">Venue</th>
          </tr>
        </thead>
        {%for tours in queen.tour%}
        <tbody >
          <tr>
            <th scope="row">{{ tours.date}}</th>
            <td>{{ tours.city }}</td>
            <td>{{ tours.venue }}</td>
        </tr>
        </tbody> 
        {% endfor %}
      </table>
    </div>
  </div>
</article>


{% endblock %}